@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    padding: 100px;
}

img{
    height:300px;
}

img:hover{
    transform: scale(1.5);
}

.collapse{
    width: 75px;
    height: 20px;
    background: #666;
    padding: 25px;
    text-align: center;
    border-radius: 25px 0 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    opacity: 80%;
}

.collapse:hover {
    background: #999999;
    font-size: 1.3em;
}

ol{
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}
  
ol>li{
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
    border-top: 1px solid #000000;
}
  
ol>li:before{
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
    font-size: 2em;
}

h1{
    font-style: italic;
    font-size: 4em;
    padding: 50px 0 100px 400px;
}

h2{
    display: inline-block;
    font-size: 2em;
    padding-left: 1em;

}

div>h2{
    margin: 0;
}

h3{
    display: inline-block;
    font-size: 1.5em;
    padding-top: 2em;
}

p{
    font-size: 1.4em;
}

.expand{
    padding: 20px 0 0;
    border-bottom: 1px solid #00000088;
}

.list {
    display: none; 
    height: auto;
    margin: 0;
}
.show {
    display: none; 
}
.hide:target + .show {
    display: inline; 
}
.hide:target {
    display: none; 
}
.hide:target ~ .list {
    display: inline; 
}

/*style the (+) and (-) */
.hide, .show {
    /* design */
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 25px;
    color: #fff;
    text-shadow: 0 1px 0 #666;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 2px #000;
    background: #cccccc;
    opacity: .95;
    /* position */
    margin-right: 0;
    float: left;
    margin-bottom: 25px;
}


.hide:hover, .show:hover {
    /* design */
    color: #eee;
    text-shadow: 0 0 1px #666;
    text-decoration: none;
    box-shadow: 0 0 4px #222 inset;
    opacity: 1;
    /* position */
    margin-bottom: 25px;
}

.commands {
    width: 90%;
    padding-left: 20px;
    font-style: italic;
    margin-bottom: 25px;
}